<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <!-- Selenium Settings -->
    <!-- options are: firefox, chrome, iexplore -->
    <add key="Settings_Browser" value="chrome" />
    <add key="Settings_Timeout" value="20" />
    <add key="Settings_DebugMode" value="off" />
    <!-- Sites -->
    <add key="Creative-404" value="http://creative-404.com/" />
  </appSettings>
    
</configuration>